
manifest {
    homePage = 'https://drugsniffer.org'
    description = 'A drug virtual screening pipeline.'
    version = '1.0.0'
    nextflowVersion = '>=21.04.3'
    mainScript = 'workflow/workflow.nf'
}

params {
    seed_ligands = null
    image_namespace = '328636143206.dkr.ecr.us-east-1.amazonaws.com/arkeabio/nextflow-drugsniffer'
}

profiles {
    local {
        process.executor = 'local'
        docker.enabled = true
    }

    aws_batch {
        process.executor = 'awsbatch'
        process.queue = 'nf-drugsniffer-queue'
        aws.region = 'us-east-1'
        aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
        workDir = 's3://arkeabio-nextflow-drugsniffer/working_directory/'
    }

    azure_batch {
        process.executor = 'azurebatch'
        azure {
            batch {
                location = 'eastus'
                autoPoolMode = true
                deletePoolsOnCompletion = true
            }
        }
    }
}
