params {
    denovo_ligands = null
}

profiles {
    local {
        process.executor = 'local'
        docker.enabled = true
    }

    aws_batch {
        process.executor = 'awsbatch'
        process.queue = 'drug-sniffer-queue'
        aws.region = 'us-east-1'
    }

    azure_batch {
        process.executor = 'azurebatch'
        azure {
            batch {
                location = 'eastus'
                autoPoolMode = true
                deletePoolsOnCompletion = true
            }
        }
    }
}
